body {
  background: white;
  font-size: 80%;
  padding: 20px;
}

.eachResult {
  background-color: white;
  margin: 20px;
  font-size: 20px;
  border-radius: 10px;
}

.results {
  background-color: #808080;
  padding: 15px;
}

.scoreDiv {
  font-size: 1.5em;
  background-color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid #5f9ea0;
  margin: auto;
}
.falseResult {
  font-weight: bold;
  color: red;
}
