div {
  border-radius: 10px;
}

body {
  width: 350px;
  height: 350px;
}
html {
  display: table;
  margin: auto;
}
.quiz {
  background: #808080;
  padding: 1.5%;
  margin: auto;
}
.question-div {
  border-color: #5f9ea0;
  background-color: #5f9ea0;
  padding: 5%;
  margin-bottom: 4%;
  font-size: 1em;
  text-align: center;
}
.option-div {
  border: 3px #5f9ea0;
  background-color: #ffffff;
  padding: 3%;
  margin: 2%;
  text-align: left;
}
.quiz div:hover {
  background: #8fbbbc;
}
